.postTh
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
}
.typeAn
{
    color: rgb(163, 163, 163);
    margin-left: 1.6in;
}
.textbox
{
    height:200px;
    width:400px;
}
.submit
{
    margin-left: 4.5in;
}
